body{
    margin: 0px;
    padding: 0%;
   }
main{
    margin: 20px;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;

}
.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}


h1{
    font-style: italic;
    color: burlywood;
}
p{
    font-size: small;
    font-style: italic;
    color: black;
}
li{
    
}